.footer__column-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.footer__column-link:hover {
  opacity: 0.6;
}

.footer__column-link:last-of-type {
  margin-bottom: 16px;
}
