.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.section-title {
  margin: 0;
  width: 60%;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 20px;
  z-index: 2;
}

.section-subtitle {
  width: 60%;
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  text-align: center;
  z-index: 2;
}

.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 60px;
  row-gap: 60px;
}

.table__cell {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
  z-index: 2;
}

.table__heading {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
}

.table__text {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

/* Начало стилей блока header */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  position: relative;
}

.logo {
  z-index: 1;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  margin: 0 0 0 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  align-self: center;
  z-index: 1;
}

.header__subtitle {
  margin: 0;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 1;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* Конец стилей блока header */

/* Начало стилей блока content */
:is(.description, .digits, .feynman) {
  margin-top: 100px;
}
/* Начало стилей секции description */

.two-columns {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph:not(:last-of-type) {
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: 600;
}
/* Конец стилей секции description */

/* Начало стилей секции digits */
.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Конец стилей секции digits */

/* Начало стилей секции feynman */
.feynman {
  min-height: 890px;
  padding-top: 100px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.feynman__title {
  margin: 0;
  width: 648px;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
}

.feynman__subtitle {
  margin: 70px 0 0 0;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-align: center;
}

.feynman__link {
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: #2f80ed;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
}
/* Конец стилей секции feynman */

/* Начало стилей секции kaufman */
.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
  padding: 90px 0;
}

[class*="_theme_dark"] {
  color: #fff;
}

.table_theme_dark {
  padding-top: 80px;
  row-gap: 80px;
}

.table__cell_theme_dark {
  width: 200px;
}

.kaufman__triangle {
  width: 990px;
  height: 800px;
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  top: 0;
  background-size: 88%;
  right: -325px;
  z-index: 1;
}
/* Конец стилей секции kaufman */
/* Конец стилей блока content */

/* Начало стилей блока footer */
.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  color: #fff;
}
/* Конец стилей блока footer */
